# Learning How to Use Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"Name": ["Braund, Mr. Owen Harris", "Allen, Mr. William Henry", "Bonnell, Miss. Elizabeth",], "Age": [22, 35, 58], "Sex": ["male","male","female"],})

In [3]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [4]:
#Now try it with my AFMs/RSD values --> not working in the way that I want

In [5]:
#Columns are series -- can either access a series in a table already made or make a separate series
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [6]:
#creating a series -- only row labels
ages = pd.Series([22, 35, 58], name="Age")

In [7]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [8]:
#Basic statistics function
#Automatically omits letter text in analysis
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [11]:
titanic = pd.read_csv("Spring 2021/titanic.csv")

FileNotFoundError: [Errno 2] File b'Spring 2021/titanic.csv' does not exist: b'Spring 2021/titanic.csv'

In [ ]:
titanic